{
  "plugins": ["angular"],

  "env": {
    "browser": true,
    "node": true,
    "jasmine" : true,
    "phantomjs" : true
  },

  "rules": {
    "strict": 0,
    "no-alert": 2,
    "no-caller": 2,
    "no-bitwise": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-empty": 1,
    "no-eval": 2,
    "no-ex-assign": 1,
    "no-floating-decimal": 0,
    "no-implied-eval": 1,
    "no-with": 1,
    "no-fallthrough": 1,
    "no-unreachable": 2,
    "no-underscore-dangle": 0,
    "no-undef-init": 1,
    "no-octal": 1,
    "no-obj-calls": 1,
    "no-new-wrappers": 1,
    "no-new": 1,
    "no-new-func": 1,
    "no-native-reassign": 1,
    "no-plusplus": 0,
    "no-delete-var": 1,
    "no-return-assign": 1,
    "no-new-object": 1,
    "no-label-var": 1,
    "no-ternary": 0,
    "no-self-compare": 0,
    "smarter-eqeqeq": 0,
    "brace-style": 0,
    "camelcase": 1,
    "curly": 1,
    "dot-notation": 1,
    "eqeqeq": 2,
    "new-parens": 1,
    "guard-for-in": 0,
    "radix": 0,
    "new-cap": 0,
    "quote-props": 0,
    "semi": 2,
    "use-isnan": 1,
    "quotes": [1, "single"],
    "max-params": [0, 3],
    "max-statements": [0, 10],
    "complexity": [0, 11],
    "wrap-iife": 1,
    "no-multi-str": 1,
    "no-multi-spaces": 1,
    "key-spacing": 0,
    "no-unused-vars": 2,
    "no-shadow": 0,
    "no-undef": 1,
    "comma-spacing": 1,
    "no-use-before-define": 0,

    // ANGULAR RULES
    "angular/controller-as": 0,
    "angular/typecheck-object": 0,
    "angular/timeout-service": 0,
    "angular/controller-as-vm": 1,
    "angular/controller-as-route": 0,
    "angular/controller-name": [1, "/[A-Z].*Controller|Ctrl$/"], //e.g HomeController or HomeCtrl
    "angular/on-watch": 0,
    "angular/di": 0,
    "angular/log": 0
  },

  "globals": {
    "document": true,
    "window": true,
    "before": true,
    "beforeEach": true,
    "inject": true,
    "$log": false,
    "_": true,
    "after": true,
    "afterEach": true,
    "angular": true,
    "require": true,
    "module": true,
    "define": true,
    "brackets": true,
    "jQuery": true,
    "$": true,
    "Mustache": true,
    "CallManager": true,
    "getEncodedServerAddr": true,
    "log4javascript": true,
    "console": true,
    "atmosphere": true,
    "jasmine": true,
    "exports": true,
    "describe": true,
    "browser": true,
    "it": true,
    "by": true,
    "waits": true,
    "expect": true,
    "runs": true,
    "element": true,
    "waitsFor": true,
    "xit": false,
    "xdescribe": false,
    "spyOn": false
  }

}

